{{!-- <h1 id="logintitle">Login Page</h1>
<form method="post"> 
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form> --}}

<div class="loginpage">
    <h1 style="color: #16e4bc">Firebase Auth Demo</h1>
    <br>
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    <span id="emailToCheck">{{emailprovided}}</span>
</div>

<script>
    
    document.addEventListener("DOMContentLoaded", () => {
    
    localStorage.setItem("emailForSignIn", document.getElementById("emailToCheck").innerText);
    const firebaseConfig = {
            apiKey: "AIzaSyDujX1xksZ12l4HTNIesiez-hdEPmRaO4g",
            authDomain: "cybersecurityhmty.firebaseapp.com",
            projectId: "cybersecurityhmty",
            storageBucket: "cybersecurityhmty.firebaseapp.com",
            messagingSenderId: "617838396186",
            appId: "1:617838396186:web:bf8a87b857ca9d3748e2a3",
            measurementId: "G-8B270P5BTQ"
        };

        // Initialize Firebase
        const app = firebase.initializeApp(firebaseConfig);
        const auth = firebase.auth();
  // Check if the URL is a valid email sign-in link
  if (auth.isSignInWithEmailLink(window.location.href)) {
    // Retrieve the email from localStorage or prompt for it
    let email = localStorage.getItem("emailForSignIn") || new URLSearchParams(window.location.search).get("email");; 
    console.log(email);
    if (!email) {
      email = window.prompt("Please provide your email for confirmation:");
      localStorage.setItem("emailForSignIn", email);
    }

    // Complete the sign-in process
    auth.signInWithEmailLink(email, window.location.href)
      .then((result) => {
        console.log("Successfully signed in!", result.user);

        // Clear the email from localStorage
        fetch('http://localhost:3000/login/passwordless/success', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: localStorage.getItem("emailForSignIn") }),
        })
        localStorage.removeItem("emailForSignIn");
      })
      .catch((error) => {
        console.error("Error signing in with email link:", error);
        alert("Error signing in. Please try again.");
      });
  } else {
    console.error("Not a valid email sign-in link.");
  }
});

</script>